h2{
    color:mediumpurple;
}
a:link, a:visited {
    background-color: orangered;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:teal;
  }