
p{
    border:1px solid palevioletred;
    background-color:teal;
    padding:15px;
}
body{
    background-image: url('RealMinTech.jpg');
    background-repeat: no-repeat;
    background-attachment: none;
    background-color:palevioletred;
}
b{
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
}
a:link, a:visited {
    background-color: orangered;
    color:black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: teal;
  }
